dialog {
  position: relative;
}

#restaurant-dialog {
  color: var(--primary-light);
  background: var(--dark-gradient);
  margin: auto;
  padding: 3em;
  border-radius: 25px;
}

.hide-dialog {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
}

input[type='submit']:hover {
  background: var(--purple);
  color: var(--primary-light);
}

#sign-up-dialog,
#log-in-dialog {
  max-width: 27%;
  color: var(--primary-light);
  background: var(--dark-gradient);
  margin: auto;
  padding: 3em;
  border-radius: 25px;
  input {
    margin: 5px 0 15px 0;
    padding: 0.5em;
    border-radius: 10px;
  }
  h1 {
    margin-bottom: 1rem;
  }
}

:focus {
  outline: solid var(--orange);
}

::backdrop {
  background: var(--dark-gradient);
  opacity: 0.75;
}
